/* 指標指到推文id時改成顯示手 */
.push-userid {
    cursor: pointer;
}

/* 高亮度顯示文章作者的id */
.highlight-poster-userid {
    background-color: darkSlateBlue;
}

/* 高亮度顯示點選的推文id */
.highlight-selected-userid {
    background-color: blue;
}

/* 推文樓層 */
.push .floor {
    position: absolute;
    left: -4.5em;
    width: 4em;
    text-align: right;
    color: gray;
}
/* 左邊空間不夠時，改成顯示在推文時間左邊 */
@media screen and (max-width: 1400px) {
    .push .floor {
        left: calc(100% - 10em);
    }
}
/* 推文時間左邊空間也不夠時，改成滑鼠指到推文時滑出 */
@media screen and (max-width: 1000px) {
    .push .floor {
        left: 100%;
        color: black;
        background-color: lightgray;
        transition: left 0.2s;
    }
    .push:hover .floor {
        left: calc(100% - 4em);
    }
}

/* 5的倍數樓層加底線 */
.push .floor-multiple-5 {
    text-decoration: underline;
}

/* 推文統計 */
.push-statistics {
    margin: 10px auto;
    width: 100%;
    min-width: 600px;
    max-width: 1200px;
    font-size: 24px;
    color: #bbb;
}
