/* 指標指到推文id時改成顯示手 */
.push-userid {
    cursor: pointer;
}

/* 高亮度顯示文章作者的id */
.highlight-poster-userid {
    background-color: darkgreen;
}

/* 高亮度顯示的推文id */
.highlight-selected-userid {
    background-color: blue;
}

/* 推文樓層 */
.push .floor {
    position: absolute;
    right: 100%;
    min-width: 4em;
    padding-right: 1em;
    text-align: right;
    color: gray;
}

.push-statistics {
    margin: 10px auto;
    width: 100%;
    min-width: 600px;
    max-width: 1200px;
    font-size: 24px;
    color: #bbb;
}
