/* 指標指到推文id時改成顯示手 */
.push-userid {
    cursor: pointer;
}

/* 高亮度顯示文章作者的id */
.highlight-poster-userid {
    background-color: darkgreen;
}

/* 高亮度顯示的推文id */
.highlight-selected-userid {
    background-color: blue;
}
