/* 隱藏元素 */
.pwe-hidden {
    display: none !important;
}

/* 可點選的元素 */
.pwe-clickable {
    cursor: pointer;
}

/* 作者的推文使用較明顯的箭頭 */
.push-tag.pwe-poster-push-tag {
    position: relative;
    color: black;
}
.push-tag.pwe-poster-push-tag:before {
    content: '⇒';
    position: absolute;
    color: aqua;
}

/* 高亮度顯示的推文 */
.pwe-highlight-push {
    background-color: rgb(50, 50, 50);
}

/* 推文樓層 */
.push .pwe-floor {
    position: absolute;
    left: -4.5em;
    width: 4em;
    text-align: right;
    color: gray;
}
/* 左邊空間不夠時，改成指到推文時浮現 */
@media screen and (max-width: 1400px) {
    .push .pwe-floor {
        left: calc(100% - 4em);
        opacity: 0;
        color: black;
        background-color: lightgray;
        transition: opacity 0.3s;
    }
    .push:hover .pwe-floor {
        opacity: 1;
    }
}

/* 5的倍數樓層加底線 */
.push .pwe-floor-multiple-5 {
    text-decoration: underline;
}

/* 推文統計 */
.pwe-push-statistics {
    margin: 10px auto;
    width: 100%;
    min-width: 600px;
    max-width: 1200px;
    font-size: 24px;
    color: #bbb;
}

/* 圖片放大顯示 */
.pwe-richcontent-resize {
    max-width: calc(100vw - 50px);
    max-height: calc(100vh - 200px);
}
.pwe-richcontent-resize img {
    max-height: calc(100vh - 200px);
}

/* 頂部和底部導覽列自動隱藏 */
#topbar-container.pwe-autohide,
#navigation-container.pwe-autohide {
    opacity: 0;
    transition: opacity 0.3s;
}
#topbar-container.pwe-autohide:hover,
#navigation-container.pwe-autohide:hover {
    opacity: 1;
}

/* 通知視窗 */
.pwe-notify {
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 101;
    padding: 5px;
    background-color: lightblue;
    box-shadow: 0 0 20px white;
}
